#conclassBG
{
    width: 100%;
    background:#51A8FF;

}

/* IT과정안내 탭 */
#conClassTab
{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 128px ;
    padding-bottom: 55px ;
}
#conClassTab .tab
{
    height:48px;
    border-radius:48px;
    padding-top: 10px;
    box-sizing: border-box;
    background:#fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding-top: 5px;
    cursor: pointer;
}
#conClassTab .tab .tabIcon img
{
     width: 30px;
     filter: invert(31%) sepia(10%) saturate(2898%) hue-rotate(183deg) brightness(96%) contrast(90%);
}
#conClassTab > div.on > .tabIcon > img
{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(95deg) brightness(113%) contrast(98%); 

}


#conClassTab .tabTitle 
{
    font-weight: 700;
   
}


#conClassTab #tab1
{
    width: 128px;
    
}
#conClassTab .on
{
    background-color: #0D1A5A;
}
#conClassTab #tab2
{
    width: 226px;
}
#conClassTab #tab3
{
    width: 183px;
}
#conClassTab #tab4
{
    width: 233px;
}




 /* IT과정안내 아이템(세부내용5개) */
 #conClassItem
 {
     text-align: center;

 }

#conClass  #conClassTab  .on {
    
    background:#132C67;
    color: #fff;
}


/* 탭 클릭시 아이템들 */



#conClass > #conClassItem >  
.conClassItem_1, .conClassItem_2,
.conClassItem_3, .conClassItem_4 
{
    display: none;
}

#conClass > #conClassItem > .on
{
    display: block;
}

#conClass .conContents
{
    width: 100%;
    height: 500px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    overflow-x: hidden;
}
#conClass .conContents .swiper-arrow
{
    display: none;
}

#conClassItem  .conIcon
{
    background-color: #fff;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 16%) ;


}
#conClassItem  .conIcon img
{
    height: 130px;
    width: 130px;
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translateY(-50%);
    
   
}

.conClassTab_sticky 
{
    
    position: sticky;
    right: 0;
    top: 15%;
    text-align:center;
    background-color: #0D1A5A;
    color:#fff;
    font-size: 12px;
    width: 150px;
}
.conClassTab_sticky > ul
{
    padding: 10px;

}
.conClassTab_sticky > ul > .tab
{
    display: flex;
    justify-content: flex-start;
    gap:5px;
    cursor: pointer;

}
.conClassTab_sticky > ul > .tab.on > .tabIcon >img
{
    filter: invert(91%) sepia(58%) saturate(7431%) hue-rotate(356deg) brightness(103%) contrast(103%);
}
.conClassTab_sticky > ul > .tab.on > .tabTitle
{
    color: #ffff00;

}
.conClassTab_sticky > ul > .tab > .tabIcon >img
{
    width: 15px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(95deg) brightness(113%) contrast(98%);
    

}




/* IT과정안내 아이템(타이틀) */
section#conClass .conTitles
{
    color: #000;
}
section#conClass .conSubTitle
{
    font-size: 1.75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
section#conClass .conTitle
{
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 55px;
    font-weight: 900;
    text-shadow: 0 0 6px rgba(0, 0, 0, 16%);
}

/* IT과정안내 아이템(내용) */

section#conClass .conTxt
{
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 50px;
}
section#conClass .conTxt .conTxtBox
{
    height: 80px;
    display: flex;
    position: relative;
    margin-bottom: 30px;
    
}
section#conClass .conTxt .conTxtBox .num
{
    height: 80px;
    width: 80px;
    border-radius: 80px;
    background: #0D1A5A;
    color: #fff;
    font-weight:800;
    font-size: 40px;
    position: absolute;
    left: 0px;
    padding-top: 18px;
    box-sizing: border-box;

}
section#conClass .conTxt .conTxtBox .num_txt
{
    height:80px;
    width: 100%;
    border-radius: 80px;
    background: #fff;
    padding-top: 30px;
    box-sizing: border-box;
    font-weight: 700;
}

/* 점3개 */

.conPoint
{
    margin: 0 auto;
    width: 16px;
}

.conPoint div 
{
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: #fff;
    margin-bottom: 30px;
}

/* conComment */
.conComment
{
    font-size: 48px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 70px;
}
.conComment .yellow
{
    color: yellow;
}
.conComment .black
{
    color: black;
}

.conContents
{
    width: 100vw;
}





/* IT과정안내 아이템(리뷰) */
.conClassReview
{
margin-top: 120px;
}

.conClassReview .paginationPosition
{
position:relative;
width:80% ;
margin: 80px auto;
}
.conClassReview .swiper-pagination
{
    position: absolute;
    top: 0%;
}

.conClassReview .conClassRV_content
{

width: 95%;
height: 145px;
margin:0 auto;
overflow: hidden;
box-sizing: border-box;
transition:0.5s all; 
z-index:-1; 

}


.conClassRV_title
{
font-size: 55px;
font-weight: 900;
color: #000;
text-shadow: 0 0 6px rgba(0, 0, 0, 16%);


}
.conClassReview .swiper-wrapper
{
display: block;

}
.conClassReview .vertical_slideCon
{
display: flex;
}



.conClassReview .conClassRV_name
{

color: #fff;
background-color: #0D1A5A;
width: 18%;
height: 145px;
padding-top: 50px;
}

.conClassReview .conClassRV_txt
{
background-color: #fff;
border:1px solid #0D1A5A;
/* 공간잘림 현상 */
width:82%;
height: 145px;
-ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.conClassReview .conClassRV_txt::-webkit-scrollbar 
{
    display: none; /* for Chrome, Safari, and Opera */
}

.conClassReview .conClassRV_txt p
{
margin: 5%;

}



/* IT과정안내 아이템(포트폴리오) */
.conClassPF
{
height: 33rem;
width: 100%;
margin-top: 80px;
/* border: 1px solid blue; */
}
.conClassPF_title
{
font-weight: bolder;
font-size: 3rem;
padding-left: 100px;
}

.conClassPF .conClassPF_content 
{   
margin-top: 3.125rem;
overflow: hidden;
box-sizing: border-box;
width: 100vw;
transition:0.5s all; 
z-index:-1; 
padding-left: 10px;
}

.conClassPF .swiper_PF
{
transition:opacity 0.3s;
/* display: flex;
justify-content: space-between; */

}


.conClassPF .PF_slide img
{
width: 640px;
height: 360px;
overflow: hidden;
margin:0 24px;
}

@media screen and (max-width:1440px){

.conClassPF .PF_slide img
{
width: 500px;
height: 280px;
overflow: hidden;
margin:0 24px;
}
}




@media screen and (max-width:1024px) {
    #conClassTab
{
   
    width: 100%;
    display: flex; 
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 5%;
   
}

#conClassTab .tab
{
 margin-bottom: 20px;
 font-size: 16px;
 font-weight: 500;
 margin-right: 10px;
 padding: 0;
 display: flex;
 align-items: center;
 justify-content: center;

}
#conClassTab .tabIcon
{
    display: none;
}

#conClassTab tab:nth-child(1)
{
 width: 90px;    
}
#conClassTab tab:nth-child(2)
{
 width: 168px;    
}
#conClassTab tab:nth-child(3)
{
 width: 141px;  

}
#conClassTab tab:nth-child(4)
{
 width: 167px;    
}
#conClassItem .conSubTitle
{
    font-size: 16px!important;
    display:flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
section#conClass .conTitle
{
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 32px;
}
section#conClass .conTxt .conTxtBox
{
    height: 48px;
}
section#conClass .conTxt .conTxtBox .num
{
    height: 48px;
    width: 48px;
    font-size: 24px;
    padding-top: 10px;
}
section#conClass .conTxt .conTxtBox .num_txt
{
    height: 48px;
    font-size: 14px;
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 10%;
   
}
section#conClass .conTxt
{
    margin-bottom: 24px;
}
section#conClass .conPoint div
{
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
   
}
section#conClass .conComment
{
    font-size: 24px;
    margin-top: 24px;
    margin-bottom :25px;
}

/* 세부내용 5가지 모바일  슬라이드 */
.conContents
{
    padding: 0;
}
 .arrowPosition
{
    position: relative;
    height: 500px;
    
}
.conContents .swiper-wrapper
{
    max-width: 100vw;
    width: 100%;
}

#conClass .conContents .conContBox
{
    margin-bottom: 0px;
    position: relative;
    
}
#conClass .conContents .swiper-arrow
{
    display: block;
    position:absolute;
    z-index:10;
    top:25%;
    transform:translateY(-25%);
}
/* 동그라미 */
#conClass .conContents .swiper-arrow::after
{
    position:absolute;
    z-index:10;
    top:20%;
    transform:translateY(-35%);
    width: 48px;
    height: 48px;
    border-radius:100%;
    background-color: transparent;
    border:4px solid #fff;   
    display: block; 
    color: transparent;
}
/* 화살표 */
.conContents .swiper-arrow::before
{

    width: 100%;
    height: 100%;
    font-family: 'xeicon';
    font-weight: 300;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top:5px;
}
/* 이전화살표 */
.swiper-button-prev::after  {left: -50%; transform:translateX(-15%); font-size: 0; color: transparent;}
.swiper-button-prev::before 
{
    content: '\e906';
    
}
/* 다음화살표 */
.swiper-button-next::after {right: -50% ;font-size: 0; color: transparent;}
.swiper-button-next::before 
{
    content: '\e907';
    

}
#conClass .conIcon
{
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 16%) ;

}
#conClass .conIcon img
{
    position: absolute;
    top: 50%;
    left: 10%;
}



/* 리뷰 */
.conClassReview
{
    margin-top: 40px;
     
}
.conClassReview .paginationPosition
{
    margin: 40px auto;
    width: 95%;
}

.conClassRV_title
{
    font-size: 24px;


}
.conClassReview .conClassRV_content
{
    margin: 10px auto;
    width: 87%;
}
/* 포트폴리오 */
.conClassPF
{
    margin-top: 35px;
    height: auto;
    overflow-x: hidden;
    padding-bottom: 10%;
}
.conClassPF_title
{
    font-size: 24px;
    padding-left: 24px;
    display: flex;
    flex-direction: row;

}
.conClassPF .conClassPF_content 
{
    margin-top: 40px;
    
}
.conClassPF .PF_slide img
{
    width: 300px;
    height: 169px;
    overflow: hidden;
    margin:0 24px;
}
}

@media screen and (max-width:950px) {
.conClassPF .PF_slide img
{
    width: 238px;
    height: 134px;
    overflow: hidden;
    margin:0 24px;
}
}
@media screen and (max-width:375px) {
section#conClass .conTxt
{
    width: 90vw;
}
}