#conMap
{
   
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.72)),
        url(../images/mainbgimg.jpg);
    padding-top: 120px;
    padding-bottom: 120px;
}
#conMapWidth{
    width: 90%;
    margin: 0 auto;
}
#conMapTitle
{
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 60px;
}
#conMap #map 
{
    margin: 0 auto;
    width: 80%; 
    height: 430px;
}
#conMap  #mapBox
{
    width: 90%;
    margin: 50px auto;
    text-align: left;
    /* border: 1px solid blue; */

}
#conMap #mapBoxs
{
    width: 70%;
    margin: 0 auto;
}
#conMap  #mapBox .mapBoxIcon img
{
    width: 35px;
}
#conMap #mapBox #mapTitle
{
    text-align: center;
    /* border: 1px solid blue; */
    color: #FFD500;
    font-size: 19px;
    font-weight: 900;
    margin-bottom: 10px;
}
#conMap  #mapBox .mapItem
{
    display: flex;
    width: 55%;
    margin: 0 auto;
    height: 50px;

}
#conMap  #mapBox .mapItem li
{
    height: 35px;
}


#conMap  #mapBox .mapBoxIcon
{
    font-size: 35px;
    margin-right: 22px;
}
#conMap  #mapBox .mapBoxTitle
{
    width: 50px;
    font-size: 19px;
    font-weight: 900;
    color: #FFD500;
    margin-right: 22px;
    padding-top: 10px;

}
#conMap  #mapBox .mapBoxTxt
{
    font-size: 19px;
    padding-top: 10px;
    color: #fff;

}

@media screen and (max-width:1024px) {
#conMap #map
{
 width: 98%;
margin: 0 auto;
height: 280px;
}

#conMapTitle
{
    display: none;
}
#conMap  #mapBox
{
    width: 80%;
    
}
#conMap #mapBoxs
{
 width:100%;
}
#conMap  #mapBox .mapBoxIcon
{
    display: none;
}
#conMap  #mapBox .mapItem
{
    width: 100%;
    margin: 0 auto;
}
#conMap  #mapBox .mapItem li
{
    height: 30px;
}
#conMap  #mapBox .mapItem .mapBoxTitle
{
font-size: 16px;
}
#conMap  #mapBox .mapItem .mapBoxTxt
{
font-size: 16px;
}
#conMap  #mapBox #bus
{
    height: 50px;
}
}